@use '../abstracts/variables.scss' as *;

.authorBlock{
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;

  @media (max-width: 560px) {
    flex-direction: column;
    gap: 12px;
  }

  &__info{
    @media (max-width: 560px) {
      text-align: center;
    }
  }

  &__title{
    color: $text_primary;
  }

  &__city{
    color: $text_secondary;
  }
}