@use '../abstracts/variables.scss' as *;

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: .2s;

  &__transparent{
    height: 48px;
    padding: 0 16px;
    color: $primary_main;
    border-radius: 500px;
    border: 1px solid $primary_op48;

    &:hover{
      color: $white;
      background-color: $primary_main;
      border: 1px solid $primary_main;
    }

    &.mobIcon{
      padding: 0 11px;

      svg {
        fill: none;

        path {
          stroke: $primary_main;
        }
      }

      &:hover{
        svg{
          path{
            stroke: $white;
          }
        }
      }
    }

  }

  &__green{
    height: 48px;
    padding: 0 16px;
    color: $white;
    background-color: $primary_main;
    border-radius: 500px;
    border: 1px solid $primary_main;

    &:hover{
      color: $primary_main;
      background-color: transparent;
      border: 1px solid $primary_op48;
    }

    &.mobIcon{
      padding: 0 11px;

      svg {
        fill: none;

        path {
          stroke: $white;
        }
      }

      &:hover{
        svg{
          path{
            stroke: $primary_main;
          }
        }
      }
    }

    &.is-guest{
      @media (max-width: 1023px) {
        display: none;
      }
    }
  }

  &__search{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 54px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: $primary_main;
    background-image: url("../svg/icon_search.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &__searchForum{
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 24px;
    height: 24px;
    background-image: url("../svg/icon_search_forum.svg");
    cursor: pointer;
  }

  &__showAll{
    width: fit-content;
    height: 48px;
    margin-top: 40px;
    padding: 0 16px 0 16px;
    border-radius: 8px;
    border: 1px solid $grey_500;
    gap: 8px;
    color: $text-primary;

    @media (max-width: 659px) {
      margin-top: 24px;
    }

    &:after{
      content: "";
      width: 24px;
      height: 24px;
      background-image: url("../svg/icon_black_arrow_right.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &:hover{
      border: 1px solid $primary_main;
    }
  }

  &__submit{
    height: 46px;
    padding: 0 15px;
    border-radius: 8px;
    background-color: $primary_main;
    color: $white;
    cursor: pointer;
    border: 1px solid $primary_main;
    transition: $transition_duration;

    &:hover{
      background-color: transparent;
      color: $primary_main;
    }

    &__transparent{
      background-color: transparent;
      color: $primary_main;
      border-color: rgba(145, 158, 171, 0.2);
    }

    &__transparentGreen{
      background-color: transparent;
      color: $primary_main;
      border-color: $primary_main;

      &:hover{
        background-color: $primary_main;
        color: $white;
      }
    }
  }

  &__showPhone{
    width: fit-content;
    height: 48px;
    padding: 0 16px 0 16px;
    border-radius: 8px;
    border: 1px solid $primary_main;
    gap: 8px;
    color: $primary_main;
    transition: $transition_duration;
    cursor: pointer;

    &:hover{
      background-color: $primary_main;
      color: $white;
    }

    &.shown{
      pointer-events: none;
      cursor: default;
    }
  }

  &__favorites{
    cursor: pointer;
    width: fit-content;

    &:before{
      content: "";
      width: 24px;
      height: 24px;
      background-image: url("../svg/icon_favorites.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &.active{

      &:before{
        background-image: url("../svg/icon_favorites_active.svg");
      }
    }
  }

  &__share{
    height: 46px;
    padding: 0 10px;
    color: $text_secondary;
    gap: 8px;
    cursor: pointer;

    &:before{
      content: "";
      width: 24px;
      height: 24px;
      background-image: url("../svg/icon_share.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__boost{
    padding: 6px 12px;
    border-radius: 8px;
    background: $primary_main;
    display: flex;
    gap: 8px;
    align-items: center;
    color: $white;

    &:before{
      content: "";
      width: 20px;
      height: 20px;
      background-image: url("../svg/icon_boost.svg");
      background-size: cover;
    }
  }

  &__forumUpload{
    height: 34px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 8px;
    border-radius: 500px;
    background-color: $global_default_bg;
    color: $text_primary;
    cursor: pointer;
    border: 1px solid $global_default_bg;
    transition: $transition_duration;

    &:hover{
      border: 1px solid $primary_main;
    }

    &:before{
      content: "";
      width: 24px;
      height: 24px;
      background-image: url("../svg/icon_forum_upload.svg");
      background-size: cover;
    }
  }

  &__shareForum{
    width: 36px;
    height: 36px;
    cursor: pointer;

    &:before{
      content: "";
      width: 20px;
      height: 20px;
      background-image: url("../svg/icon_forum_share.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}