@use "../abstracts/variables.scss" as *;

.catalogItem {
  position: relative;
  width: calc(25% - 18px);
  background-color: $main_light_secondary;
  box-shadow: 0 12px 24px -4px rgba(145, 158, 171, 0.12);
  border-radius: 16px;

  @media (max-width: 1023px) {
    width: calc(33% - 12px);
  }

  @media (max-width: 659px) {
    width: calc(50% - 12px);
  }

  @media (max-width: 560px) {
    width: calc(50% - 8px);
  }

  @media (max-width: 374px) {
    width: 100%;
  }

  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
  }

  &__desc {
    padding: 20px 16px;
    border-radius: 0 0 16px 16px;
    gap: 4px;
    flex-direction: column;
  }

  &__title {
    display: block;
    color: $text-primary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  &__descRow {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: nowrap;
  }

  &__price {
    color: $text-primary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 40px);
  }

  &__marks {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 6px;
    position: absolute;
    right: 12px;
    top: 12px;
  }

  &__mark {
    width: fit-content;
    display: flex;
    gap: 6px;
    align-items: center;
    height: 24px;
    padding: 0 6px;
    border-radius: 6px;
    color: $white;
    cursor: default;

    &.boost {
      position: absolute;
      left: 12px;
      top: 12px;
      background-color: $primary_green;

      @media (max-width: 780px) {
        display: none;
      }

      @media (max-width: 660px) {
        display: flex;
      }

      @media (max-width: 560px) {
        display: none;
      }

      @media (max-width: 374px) {
        display: flex;
      }

      &__mobile {
        display: none;

        @media (max-width: 780px) {
          display: flex;
          position: relative;
          left: 0;
          top: 0;
        }

        @media (max-width: 660px) {
          display: none;
        }

        @media (max-width: 560px) {
          display: flex;
          position: relative;
          left: 0;
          top: 0;
        }

        @media (max-width: 374px) {
          display: none;
        }
      }

      &:before {
        content: "";
        width: 16px;
        height: 16px;
        background-image: url("../svg/icon_boost.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    &.new {
      background-color: $info_main;
    }

    &.used {
      background-color: $text_primary;
    }

    &.rent {
      color: $black_100;
      background-color: $main_light_secondary;
    }

    &.sale {
      background-color: $primary_main;
    }

    &.buy {
      background-color: $info_dark;
    }
  }
}
