@use '../abstracts/variables.scss' as *;

.input{

  &__form{
    position: relative;
    width: 100%;
    z-index: 1;

    input{
      width: 100%;
      height: 54px;
      padding: 16px 14px;
      border-radius: 8px;
      border: 1px solid rgba(145, 158, 171, 0.20);
      color: $text_primary;

      &:hover{
        border: 1px solid $text-primary;
      }

      &:focus{
        border: 2px solid $text-primary;

        & + label{
          top: -5px;
          color: $text_primary;
          font-size: 12px;
          font-weight: 500;
          line-height: 12px;
          cursor: default;
        }

      }

      &::placeholder{
        color: transparent;
      }

      &:not(:placeholder-shown) + label{
        top: -5px;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        cursor: default;
      }

      &:-webkit-autofill{
        background-color: $white!important;
      }

      &:-webkit-autofill + label {
        top: -5px;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        cursor: default;
      }

    }

    .error{
      display: none;
    }

    .helper{
      display: flex;
      margin-top: 8px;
      padding-left: 12px;
      gap: 4px;
      align-items: center;
      color: $text_secondary;

      span{
        @media (max-width: 560px) {
          width: calc(100% - 20px);
        }
      }

      &:before{
        content: "";
        width: 16px;
        height: 16px;
        background-image: url("../svg/icon_helper_input.svg");
        background-size: cover;
      }
    }

    &.notValid{

      input{
        border: 2px solid $error_main;

        & + label{
          top: -5px;
          color: $error_main;
          font-size: 12px;
          font-weight: 500;
          line-height: 12px;
          cursor: default;

          span{
            color: $error_main;
          }
        }
      }

      .error{
        display: flex;
        margin-top: 8px;
        padding-left: 12px;
        gap: 4px;
        align-items: center;
        color: $error_main;

        &:before{
          content: "";
          width: 16px;
          height: 16px;
          background-image: url("../svg/icon_error_input.svg");
          background-size: cover;
        }
      }
    }

    &.noEdit{
      pointer-events: none;

      input{
        color: $text_disabled;
      }
    }

    label{
      position: absolute;
      top: 18px;
      left: 15px;
      padding: 0 2px;
      background-color: $white;
      z-index: 2;
      color: $text_secondary;
      transition: 0.2s;
      cursor: text;

      span{
        color: $text_disabled;
      }
    }
  }

  &__formAd{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    label{
      display: block;
      margin-bottom: 12px;

      .required{
        color: $error_main;
      }

      .info{
        color: $text_disabled;
      }
    }

    input{
      width: 100%;
      height: 54px;
      padding: 16px 14px;
      border-radius: 8px;
      background-color: transparent;
      border: 1px solid rgba(145, 158, 171, 0.20);
      color: $text_primary;

      &:hover{
        border: 1px solid $text-primary;
      }

      &:focus{
        border: 2px solid $text-primary;
      }

      &::placeholder{
        color: $text_disabled;
      }

      &:-webkit-autofill{
        background-color: $white!important;
      }

      &:read-only{
        cursor: pointer;
      }

    }

    &__helperVal{
      display: flex;
      gap: 24px;

      .symbolCount{
        margin-top: 8px;
        color: $text_secondary;
        margin-left: auto;

        &.tooMuch{
          color: $error_main;
        }
      }
    }

    .error{
      display: none;
    }

    &.notValid{

      input, textarea{
        border: 2px solid $error_main;

        & + label{
          color: $error_main;
          cursor: default;

          span{
            color: $error_main;
          }
        }
      }

      .error{
        display: flex;
        margin-top: 8px;
        padding-left: 12px;
        gap: 4px;
        align-items: center;
        color: $error_main;

        &:before{
          content: "";
          width: 16px;
          height: 16px;
          background-image: url("../svg/icon_error_input.svg");
          background-size: cover;
        }
      }
    }

    textarea{
      width: 100%;
      height: 158px;
      padding: 12px 16px;
      border-radius: 8px;
      color: $text_primary;
      border: 1px solid rgba(145, 158, 171, 0.20);
      background: rgba(145, 158, 171, 0.08);
      resize: none;

      &::placeholder{
        color: $text_disabled;
      }
    }
  }

  &__togglePass{
    position: absolute;
    top: 16px;
    right: 8px;
    width: 24px;
    height: 24px;
    background-image: url("../svg/icon_show_pass.svg");
    background-size: cover;
    cursor: pointer;

    &.showPass{
      background-image: url("../svg/icon_hide_pass.svg");
    }
  }

  &__arrowBottom{
    position: absolute;
    top: 52px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-image: url("../svg/icon_black_arrow_bottom.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  &__search{
    width: 100%;
    height: 68px;
    padding: 9px 78px 9px 24px;
    border: 1px solid $white;
    border-radius: 62px;
    background: $white;
    outline: none;

    &:focus {
      border-color: $primary_main;
      outline: none;
    }

    &::placeholder{
      color: $grey_500;
      font-family: $font_roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }

  &__searchForum{
    width: 100%;
    height: 54px;
    padding: 15px 14px 15px 46px;
    border-radius: 8px;
    border: 1px solid rgba(145, 158, 171, 0.20);
    outline: none;

    &:focus {
      border-color: $primary_main;
      outline: none;
    }

    &::placeholder{
      color: $text_disabled;
      font-family: $font_roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
    }
  }

  &__fakeSelect{
    display: none;
    position: absolute;
    top: 100%;
    padding: 14px 16px;
    width: 100%;
    flex-direction: column;
    gap: 12px;
    border-radius: 12px;
    background: $grey-100;
    box-shadow: 0 0 2px 0 rgba(145, 158, 171, 0.24), -20px 20px 40px -4px rgba(145, 158, 171, 0.24);
    z-index: 2;

    li {
      cursor: pointer;
      color: $text_primary;

      &:hover{
        color: $primary_main;
      }
    }

    &__flag{

      img{
        margin: 0 auto;
        width: 40px;
        height: auto;
      }
    }
  }

  &__fakeSelectFlag{
    width: 24px;
    height: 18px;
    position: absolute;
    left: 10px;
    top: 18px;
    pointer-events: none;
    display: flex;
  }

  &__radioGroup{
    display: flex;
    gap: 12px;

    &__radio {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      color: $text_primary;

      input[type="radio"] {
        display: none;

        & + label {
          height: 54px;
          padding: 0 42px 0 16px;
          align-content: center;
          position: relative;
          cursor: pointer;
          user-select: none;
          color: $text_primary;
          margin-bottom: 0;

          &::before {
            content: "";
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 23px;
            height: 23px;
            border: 1px solid $primary_main;
            border-radius: 50%;
            background-color: #fff;
            box-sizing: border-box;
          }

          span {
            display: inline-block;
            width: max-content;
          }
        }

        &:checked{

          & + label{
            border-radius: 8px;
            background: rgba(145, 158, 171, 0.08);

            &:after {
              content: "";
              position: absolute;
              right: 15px;
              top: 50%;
              transform: translateY(-50%);
              width: 13px;
              height: 13px;
              background-color: #147575;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  &__previewContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;

    .preview-item{
      position: relative;
      width: calc((100% - 88px) / 5);
      aspect-ratio: 1/1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6px;
      border-radius: 12px;
      border: 1px dashed rgba(145, 158, 171, 0.20);
      background: rgba(145, 158, 171, 0.08);

      @media (max-width: 767px) {
        width: calc((100% - 66px) / 4);
      }

      @media (max-width: 560px) {
        width: calc((100% - 22px) / 2);
      }

      &:before{
        content: '';
        width: 32px;
        height: 32px;
        background-image: url("../svg/icon_upload_img.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
      }

      &.add-photo {
        cursor: pointer;
        color: $primary_main;

        &:hover{
          border-color: $primary_main;
        }

        input[type='file']{
          position: absolute;
          opacity: 0;
          width: 0;
          height: 0;
          pointer-events: none;
        }
      }

      &.filled{

        &:before{
          content: none;
        }
      }

      .remove-btn {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 28px;
        height: 28px;
        background-image: url("../svg/icon_upload_img_close.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
      }

      .main-label{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 24px;
        color: $white;
        text-align: center;
        background-color: $primary_main;
        border-radius: 0 0 12px 12px;
      }
    }
  }

  &__formRadio{
    display: flex;
    flex-direction: column;

    & > label{
      margin-bottom: 12px;
    }
  }

  &__radio {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 32px;

    label {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 16px;
      line-height: 1.4;

      input[type="radio"] {
        display: none;
      }

      span {
        position: relative;
        padding-left: 23px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 18px;
          height: 18px;
          border: 1px solid $primary_main;
          border-radius: 50%;
          background: #fff;
          transition: $transition_duration;
        }

        &::after {
          content: "";
          position: absolute;
          left: 4px;
          top: 50%;
          transform: translateY(-50%);
          width: 10px;
          height: 10px;
          background: $primary_main;
          border-radius: 50%;
          opacity: 0;
          transition: $transition_duration;
        }
      }

      input[type="radio"]:checked + span::before {
        border-color: $primary_main;
      }

      input[type="radio"]:checked + span::after {
        opacity: 1;
      }
    }
  }

  &__formTextarea{
    display: flex;
    flex-direction: column;

    textarea{
      padding: 10px 14px;
      width: 100%;
      min-height: 114px;
      border-radius: 8px;
      border: 1px solid rgba(145, 158, 171, 0.20);
      resize: none;

      &::placeholder {
        color: $text_secondary;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
      }
    }

    &__helperVal{
      display: flex;
      gap: 24px;

      .symbolCount{
        margin-top: 4px;
        color: $text_secondary;
        margin-left: auto;

        &.tooMuch{
          color: $error_main;
        }
      }
    }

    .error{
      display: none;
    }

    &.notValid{

      input, textarea{
        border: 2px solid $error_main;

        & + label{
          color: $error_main;
          cursor: default;

          span{
            color: $error_main;
          }
        }
      }

      .error{
        display: flex;
        margin-top: 8px;
        padding-left: 12px;
        gap: 4px;
        align-items: center;
        color: $error_main;

        &:before{
          content: "";
          width: 16px;
          height: 16px;
          background-image: url("../svg/icon_error_input.svg");
          background-size: cover;
        }
      }
    }
  }
}

.form{

  &__actionTemplate{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 560px) {
      gap: 16px;
    }
  }

  &__adCreate{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .form__row{
      gap: 32px;
    }
  }

  &__row{
    display: flex;
    gap: 16px;
    justify-content: space-between;

    @media (max-width: 560px) {
      flex-direction: column;
    }
  }

  &__rowBtn{
    display: flex;
    gap: 12px;
    justify-content: end;
  }

  &__rowCurrency{
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: space-between;

    @media (max-width: 767px) {
      gap: 16px;
    }

    > div{

      &:first-child{
        width: 70%;

        @media (max-width: 767px) {
          width: 60%;
        }
      }
      &:last-child{
        width: calc(30% - 16px);

        @media (max-width: 767px) {
          width: calc(40% - 16px);
        }
      }
    }
  }

  &__rowPhone{
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: start;
    z-index: 2;

    @media (max-width: 767px) {
      gap: 16px;
    }

    > div{

      &:first-child{
        width: 100px;

        @media (max-width: 767px) {
          width: 100px;
        }
      }
      &:last-child{
        width: calc(100% - 116px);

        @media (max-width: 767px) {
          width: calc(100% - 116px);
        }
      }
    }

    .input__arrowBottom{
      top: 18px;
    }
  }

  &__forgotPass{
    color: $text_primary;
    width: fit-content;
    align-self: end;
    text-decoration-line: underline;
  }

  &__condition{
    padding: 0 10px;
    color: $text_secondary;
    text-align: center;

    a{
      color: $primary_main;
      text-decoration-line: underline;
    }
  }

  &__boost{
    width: 100%;
    display: flex;
    gap: 24px;
    justify-content: space-between;

    @media (max-width: 1023px) {
      flex-direction: column;
    }

    &__left{
      width: calc(100% - 392px);
      padding: 40px;
      border-radius: 16px;
      border: 1px dashed rgba(145, 158, 171, 0.16);

      @media (max-width: 1023px) {
        width: 100%;
        padding: 0;
      }

      &__title{
        color: $text_primary;
        margin-bottom: 40px;
      }

      &__card{
        border-radius: 8px;
        border: 1px solid rgba(145, 158, 171, 0.16);
        background: $white;
        padding: 20px;
      }
    }

    &__right{
      display: flex;
      flex-direction: column;
      width: 368px;
      padding: 40px;
      border-radius: 16px;
      background: $background-neutral;
      box-shadow: 0 0 2px 0 rgba(145, 158, 171, 0.20), 0 12px 24px -4px rgba(145, 158, 171, 0.12);

      @media (max-width: 1023px) {
        width: 100%;
        padding: 20px;
      }

      .title{
        color: $text_primary;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
      }

      .tag{
        width: fit-content;
        padding: 4px 6px;
        color: $dark_light_info;
        border-radius: 6px;
        background: rgba(0, 184, 217, 0.16);
        margin-top: 8px;
      }

      .price{
        color: $text_primary;
        font-family: $font_montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        transition: $transition_duration;
      }

      .sep{
        margin: 30px 0;
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed rgba(145, 158, 171, 0.20);
      }

      .list{

        &__title{
          color: $text_primary;
          margin-bottom: 16px;
        }

        &__item{
          width: 100%;
          color: $text_primary;
          display: flex;
          gap: 8px;
          align-items: center;
          margin-bottom: 40px;

          span{
            width: calc(100% - 28px);
          }

          &.checked{

            &:before{
              content: "";
              width: 20px;
              height: 20px;
              background-image: url("../svg/icon_list_checked.svg");
              background-size: cover;
            }
          }
        }
      }

      .totalPrice{
        color: $text_primary;
        display: flex;
        justify-content: space-between;
        gap: 8px;
        margin-bottom: 14px;
      }
    }
  }

  &__contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  &__editBtn{
    display: flex;
    gap: 12px;
    justify-content: end;

    &.hidden{
      display: none;
    }
  }

  &__forumReply{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .input__form label{
      background-color: $background-neutral;
    }

    &.hidden{
      display: none;
    }
  }

  &__forum{
    &.is-guest{
      display: none;
    }
  }
}
