@use '../abstracts/variables.scss' as *;

.heroSearch{
  background-image: url("../svg/background_right_action_footer.svg");
  background-position: calc(50% + 458px) bottom;
  background-repeat: no-repeat;
  background-size: 295px 124px;

  &__inner{
    padding: 80px 0 129px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn__showAll{
      align-self: flex-start;
    }
  }

  &__title{
    color: $text_primary;
    text-align: center;
    margin-bottom: 12px;
  }

  &__subtitle{
    color: $text_primary;
    font-family: $font_montserrat;
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }

  &__blockSearch{
    width: 100%;
    max-width: 657px;
    position: relative;
    margin-bottom: 80px;
  }

  &__categories{
    display: flex;
    gap: 24px;
    width: 100%;
    margin-bottom: 40px;
  }

  &__category{
    max-width: 144px;
    width: 100%;
    padding: 22px 8px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    border: 2px solid $lighter_darker_primary;
    background: $lighter_darker_primary;
    cursor: pointer;
    transition: .2s;

    &:hover{
      border: 2px solid $primary_main;
    }

    img{
      width: 100px;
      aspect-ratio: 1/1;
      object-fit: cover;
    }

    &__title{
      color: $text_primary;
      text-align: center;
    }


  }
}