@use '../abstracts/variables.scss' as *;

.messageWrapper {
  position: fixed;
  top: 142px;
  left: calc(50% + 152px);
  width: 424px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 9999;

  @media (max-width: 767px) {
    left: unset;
    right: 24px;
  }

  @media (max-width: 560px) {
    width: calc(100vw - 32px);
    left: 16px;
    right: unset;
  }

  .message {
    height: 56px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px 4px 4px;
    border-radius: 8px;
    background: $white;
    box-shadow: 0 8px 16px 0 rgba(145, 158, 171, 0.16);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateX(20px);
    animation: slideIn 0.3s forwards;

    &:before {
      content: "";
      width: 48px;
      height: 48px;
      border-radius: 8px;
      background-size: 24px 24px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.info {
      &:before {
        background-color: rgba(0, 184, 217, 0.16);
        background-image: url("../svg/icon_message_info.svg");
      }
    }

    &.success {
      &:before {
        background-color: rgba(34, 197, 94, 0.16);
        background-image: url("../svg/icon_message_success.svg");
      }
    }

    &.warning {
      &:before {
        background-color: rgba(255, 171, 0, 0.16);
        background-image: url("../svg/icon_message_warning.svg");
      }
    }

    &.error {
      &:before {
        background-color: rgba(211, 47, 47, 0.16);
        background-image: url("../svg/icon_message_error.svg");
      }
    }

    span {
      width: calc(100% - 108px);
    }

    a{
      color: $primary_main;
    }

    .close-btn {
      width: 28px;
      height: 28px;
      background-image: url("../svg/icon_message_close.svg");
      background-size: 18px 18px;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    &.default {
      padding: 4px 8px 4px 12px;
      background-color: $text_primary;

      span {
        color: $white;
        width: calc(100% - 44px);
      }

      &:before {
        content: none;
      }
    }
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(20px);
  }
}
