@use '../abstracts/variables.scss' as *;

.popUp{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212B36CC;
  z-index: 100;

  &__inner{
    width: fit-content;
    border-radius: 16px;
    background: $white;
    box-shadow: -40px 40px 80px -8px rgba(0, 0, 0, 0.24);
    padding: 24px;
    max-width: calc(100vw - 32px);
    max-height: calc(100vh - 110px);
    overflow: auto;

    @media (max-width: 767px) {
      margin: 30px 0 80px;
    }

    @media (max-width: 560px) {
      padding: 12px;
    }

    &-noPadding{
      padding: 0;

      @media (max-width: 560px) {
        padding: 0;
      }
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: $white;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(99, 115, 129, 0.48);
    }

    &.confirm{
      padding: 40px;

      @media (max-width: 560px) {
        padding: 12px;
      }
    }
  }

  &__title{
    color: $text_primary;
  }

  &__selectCategory{
    width: 1152px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: 1260px) {
      width: 100%;
    }
  }

  &__slider{
    position: relative;
    width: 90%;
    margin: 0 auto 16px;

    &__prev{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      transform: translateY(-50%);
      left: -44px;
      width: 36px;
      height: 36px;
      border-radius: 500px;
      border: 1px solid $primary_main;
      transition: $transition_duration;
      cursor: pointer;
      z-index: 3;

      @media (max-width: 767px) {
        left: -36px;
        width: 28px;
        height: 28px;
      }

      @media (max-width: 560px) {
        left: -24px;
      }

      svg{
        fill: $primary_main;
      }

      &:hover{
        background-color: $primary_main;

        svg{
          fill: $white;
        }
      }

      &.disabled{
        background-color: transparent;
        border: 1px solid $text_disabled;
        cursor: default;

        svg{
          fill: $text_disabled;
        }
      }
    }

    &__next{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      transform: translateY(-50%);
      right: -44px;
      width: 36px;
      height: 36px;
      border-radius: 500px;
      border: 1px solid $primary_main;
      transition: $transition_duration;
      cursor: pointer;
      z-index: 3;

      @media (max-width: 767px) {
        right: -36px;
        width: 28px;
        height: 28px;
      }

      @media (max-width: 560px) {
        right: -24px;
      }

      svg{
        fill: $primary_main;
      }

      &:hover{
        background-color: $primary_main;

        svg{
          fill: $white;
        }
      }

      &.disabled{
        background-color: transparent;
        border: 1px solid $text_disabled;
        cursor: default;

        svg{
          fill: $text_disabled;
        }
      }
    }
  }

  &__categories{

  }

  &__category{
    width: 144px;
    margin: 0 12px;
    padding: 22px 8px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    border: 2px solid rgba(145, 158, 171, 0.08);
    background: transparent;
    cursor: pointer;
    transition: $transition_duration;

    &:hover{
      border: 2px solid $primary_main;
      background-color: $lighter_darker_primary;
    }

    &.active{
      border: 2px solid $primary_main;
      background-color: $lighter_darker_primary;
      cursor: default;
    }

    img{
      width: 100px;
      margin: 0 auto 16px;
      aspect-ratio: 1/1;
      object-fit: cover;
    }

    &__title{
      color: $text_primary;
      text-align: center;
    }

  }

  &__subCategories{
    display: flex;
    flex-wrap: wrap;
    gap: 12px 24px;
    width: 100%;

    @media (max-width: 560px) {
      gap: 12px 12px;
    }
  }

  &__subcategory{
    width: calc((100% - 48px) / 3);
    padding: 24px;
    color: $text_primary;
    border-radius: 16px;
    border: 1px solid rgba(145, 158, 171, 0.16);
    background: $white;
    cursor: pointer;
    transition: $transition_duration;

    @media (max-width: 767px) {
      width: calc((100% - 24px) / 2);
    }

    @media (max-width: 560px) {
      width: max-content;
      padding: 12px;
    }

    &:hover{
      border: 1px solid $primary_main;
      background-color: $lighter_darker_primary;
    }

    &.active{
      border: 1px solid $primary_main;
      background-color: $lighter_darker_primary;
      cursor: default;
    }
  }

  &__rowBtn{
    display: flex;
    gap: 12px;
    justify-content: end;
  }

  &__confirm{
    width: 484px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 767px) {
      width: auto;
    }

    img{
      width: 96px;
      height: 96px;
      object-fit: cover;
      margin-bottom: 40px;
    }

    &__title{
      color: $text_primary;
      text-align: center;
      margin-bottom: 8px;
    }

    &__text{
      color: $text_secondary;
      text-align: center;
      margin-bottom: 40px;
    }

    .btn{

      &__submit{
        width: 100%;
        margin-bottom: 24px;
      }

      &__cancelConfirm{
        color: $primary_main;
        cursor: pointer;
      }
    }
  }

  &__imageWrapper {
    max-width: calc(100vw - 80px);
    max-height: calc(100vh - 158px);
    overflow: auto;

    img {
      display: block;
      transition: transform 0.3s ease;
      cursor: zoom-in;

      &.zoomed {
        max-width: none;
        max-height: none;
        transform-origin: top left;
        cursor: zoom-out;
      }

      &.dragging {
        cursor: grabbing;
      }
    }
  }

  &.hidden{
    display: none;
  }
}