@use '../abstracts/variables.scss' as *;

.searchBlock{
  position: relative;
  width: 100%;
  max-width: 657px;
  margin-bottom: 40px;

  &.full{
    max-width: unset;
  }

  &__recommend{
    display: block;
    border-radius: 20px;
    background: $white;
    padding: 24px;
    position: absolute;
    width: 100%;
    top: calc(100% + 12px);
    box-shadow: 0 0 2px 0 rgba(145, 158, 171, 0.20), 0 12px 24px -4px rgba(145, 158, 171, 0.12);
    z-index: 3;

    &__title{
      color: $grey_500;
      padding-bottom: 6px;
      border-bottom: 1px solid rgba(28, 28, 28, 0.10);
    }

    &__content{
      margin-top: 6px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &__item{

    }

    &__itemTitle{
      color: $black;
    }

    &__itemCategory{
      color: $grey_500;
    }

    &.hidden{
      display: none;
    }
  }
}