@use '../abstracts/variables.scss' as *;

.topCatalog{
  border-radius: 80px;
  background: $white;

  &__inner{
    padding: 80px 0 88px;
  }

  &__title{
    margin-bottom: 40px;
  }

  &__filters{
    display: flex;
    gap: 12px;
    margin-bottom: 40px;
  }

  &__filter{
    padding: 10px 24px;
    color: $primary_main;
    border-radius: 40px;
    border: 1px solid $lighter_darker_primary;
    cursor: pointer;
    transition: .2s;

    &:hover{
      color: $white;
      font-weight: 700;
      background-color: $primary_main;
      border: 1px solid $primary_main;
    }

    &.active{
      color: $white;
      font-weight: 700;
      background-color: $primary_main;
      border: 1px solid $primary_main;
      cursor: default;
    }
  }

  &__items{
    display: flex;
    flex-wrap: wrap;
    gap: 32px 24px;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__item{
    position: relative;
    width: calc(25% - 18px);
    background-color: $main_light_secondary;
    box-shadow: 0 12px 24px -4px rgba(145, 158, 171, 0.12);
    border-radius: 16px;

    img{
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 16px 16px 0 0;
    }

    &__desc{
      padding: 20px 16px;
      border-radius: 0 0 16px 16px;
    }

    &__title{
      color: $text-primary;
      margin-bottom: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }

    &__price{
      color: $text-primary;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }

    &__mark{
      position: absolute;
      display: flex;
      gap: 6px;
      align-items: center;
      height: 24px;
      padding: 0 6px;
      border-radius: 6px;
      color: $white;

      &.boost{
        left: 12px;
        top: 12px;
        background-color: $primary_green;

        &:before{
          content: "";
          width: 16px;
          height: 16px;
          background-image: url("../svg/icon_boost.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      &.new{
        right: 12px;
        top: 12px;
        background-color: $info_dark;
      }

      &.used{
        right: 12px;
        top: 12px;
        background-color: $text_primary;
      }
    }
  }
}