@use '../abstracts/variables.scss' as *;

.adCreate{

  &__innerForm{
    padding: 42px 0 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__title{
      color: $text_primary;
    }

    &.hidden{
      display: none;
    }
  }

  &__form{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 16px;
    background: $grey-100;
    box-shadow: 0 0 2px 0 rgba(145, 158, 171, 0.20), 0 12px 24px -4px rgba(145, 158, 171, 0.12);

    @media (max-width: 1023px) {
      padding: 20px;
    }

    &__title{
      color: $text_primary;
    }
  }

  &__innerType{
    padding: 80px 0 135px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 560px) {
      padding: 40px 0 80px;
    }

    &.hidden{
      display: none;
    }
  }

  &__title{
    text-align: center;
    color: $text_primary;
    margin-bottom: 16px;
  }

  &__subtitle{
    color: $text_secondary;
    margin-bottom: 80px;
    max-width: 486px;
    text-align: center;

    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  &__contentType{
    display: flex;
    gap: 16px;
    align-items: center;
    min-height: 405px;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    &__item{
      display: flex;
      flex-direction: column;
      gap: 18px;
      width: 100%;
      padding: 40px;
      border-radius: 16px;
      background: $white;
      box-shadow: 0 0 2px 0 rgba(145, 158, 171, 0.20), 0 12px 24px -4px rgba(145, 158, 171, 0.12);
      transition: $transition_duration;
      cursor: pointer;

      @media (max-width: 560px) {
        padding: 20px;
      }

      .title{
        color: $text_primary;
        display: flex;
        flex-direction: column;
      }

      .tag{
        width: fit-content;
        padding: 4px 6px;
        color: $dark_light_info;
        border-radius: 6px;
        background: rgba(0, 184, 217, 0.16);
        margin-top: 12px;
      }

      .price{
        color: $text_primary;
        font-family: $font_montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        transition: $transition_duration;
      }

      .sep{
        width: 100%;
        height: 1px;
        background-color: rgba(145, 158, 171, 0.20);
      }

      .list{

        &__title{
          color: $text_primary;
          margin-bottom: 16px;
        }

        &__item{
          color: $text_primary;
          display: flex;
          gap: 8px;
          align-items: center;

          &.checked{

            &:before{
              content: "";
              width: 20px;
              min-width: 20px;
              height: 20px;
              background-image: url("../svg/icon_list_checked.svg");
              background-size: cover;
            }
          }
        }
      }

      &:hover{
        gap: 40px;
        border: 2px solid $primary_main;

        .price{
          font-size: 48px;
          line-height: 64px;
        }
      }

      &.active{
        gap: 40px;
        border: 2px solid $primary_main;
        cursor: default;

        @media (max-width: 560px) {
          gap: 24px;
        }

        .price{
          font-size: 48px;
          line-height: 64px;
        }
      }
    }
  }

  &__rowBtn{
    width: 100%;
    margin-top: 100px;
    display: flex;
    gap: 12px;
    justify-content: end;

    @media (max-width: 560px) {
      margin-top: 60px;
    }
  }

  &__innerPayment{
    padding: 80px 0 135px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 560px) {
      padding: 40px 0 80px;
    }

    &.hidden{
      display: none;
    }

    .js-goSuccess{
      margin-top: 12px;
    }
  }

  &__innerSuccess{
    padding: 80px 0 135px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 560px) {
      padding: 40px 0 80px;
    }

    &.hidden{
      display: none;
    }

    img{
      margin: 80px 0;
    }

    .btn{
      min-width: 294px;
      margin-bottom: 12px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .breadcrumbs__title {
    @media (max-width: 560px) {
      display: block;
    }
  }

}