@use '../abstracts/variables.scss' as *;

.catalogPost{
  $catalogPost: &;

  &__inner{
    padding: 40px 0 80px;
  }

  &__author{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;

    &__title{
      color: $text_primary;
    }

    &__city{
      color: $text_secondary;
    }
  }

  &__content{
    margin-top: 48px;
    display: flex;
    gap: 64px;

    @media (max-width: 1023px) {
      gap: 32px;
    }

    @media (max-width: 659px) {
      margin-top: 24px;
      flex-direction: column;
    }
  }

  &__slider{
    width: 56%;
    max-width: 646px;
    position: relative;
    z-index: 1;

    @media (max-width: 1023px) {
      width: 40%;
    }

    @media (max-width: 659px) {
      width: 100%;
    }

    &__inner {

      img{
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
        border-radius: 16px;
      }
    }
  }

  &__sliderNav{
    position: absolute;
    bottom: 16px;
    right: 16px;
    padding: 2px 4px;
    display: flex;
    gap: 2px;
    align-items: center;
    color: $white;
    border-radius: 8px;
    background-color: $text_primary;
    z-index: 2;

    div{
      width: 28px;
      height: 28px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 18px 18px;
      cursor: pointer;
    }

    &__prev{
      background-image: url("../svg/icon_slider_prev.svg");
    }

    &__next{
      background-image: url("../svg/icon_slider_next.svg");
    }

    &__counter{
      cursor: default;
    }
  }

  &__info{
    width: calc(44% - 64px);
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: 1023px) {
      width: calc(60% - 32px);
    }

    @media (max-width: 659px) {
      width: 100%;
    }

    &__title{
      color: $text_primary;
    }

    &__row{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__price{
      color: $text_primary;
    }

    &__text{
      color: $text_primary;

      p:not(:last-of-type){
        margin-bottom: 22px;
      }
    }
  }

  &__buttons{
    position: relative;
    margin-top: auto;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;

    &__send{
      width: 100%;
    }

    &__favorites{
      height: 46px;
      padding: 0 10px;
      color: $text_secondary;
      gap: 8px;
    }
  }

  &__subContent{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: 560px) {
      margin-top: 60px;
    }

    &__nav{
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 560px) {
        flex-direction: column;
        gap: 12px;
      }

      .btn__showAll{
        margin-top: 0;
      }
    }

    &__title{
      @media (max-width: 767px) {
        text-align: center;
        font-size: 22px;
        line-height: 24px;
      }
    }

    &__posts{
      display: flex;
      flex-wrap: wrap;
      gap: 32px 24px;

      @media (max-width: 1023px) {
        gap: 32px 21px;
      }

      @media (max-width: 659px) {
        gap: 24px 24px;
      }

      @media (max-width: 560px) {
        gap: 16px 16px;
      }

      .catalogItem__desc{
        background-color: $white;
      }
    }
  }

  &__edits{
    display: flex;
    flex-wrap: wrap;
    gap: 24px 8px;
    margin-top: auto;

    &__edit{
      width: calc(50% - 4px);
      display: flex;
      gap: 8px;
      border-radius: 8px;
      border: 1px solid $grey_500;
      padding: 0 16px;
      height: 48px;
      color: $text_primary;
      cursor: pointer;

      &:before{
        content: "";
        width: 24px;
        height: 24px;
        background-image: url("../svg/icon_editAd.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &__delete{
      width: calc(50% - 4px);
      display: flex;
      gap: 8px;
      border-radius: 8px;
      border: 1px solid $error_main;
      padding: 0 16px;
      height: 48px;
      color: $error_main;
      cursor: pointer;

      &:before{
        content: "";
        width: 24px;
        height: 24px;
        background-image: url("../svg/icon_deleteAd.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &__deactivate{
    width: 100%;
    padding: 23px 24px;
    border-radius: 16px;
    background: $background-neutral;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    span{
      color: $text_primary;
    }
  }

  &.isAuthor{

    #{$catalogPost}{

      &__inner{
        padding: 64px 0 137px;

        @media (max-width: 1023px) {
          padding: 40px 0 80px;
        }
      }

      &__content{
        margin-top: 22px;
      }
    }
  }

  &__chat{
    position: absolute;
    width: 100%;
    height: 520px;
    bottom: 120px;

    &.hidden{
      display: none;
    }

    @media (max-width: 1023px) {
      position: fixed;
      height: min(80dvh, 80vh);
      max-height: 520px;
      max-width: 60vw;
      right: 20px;
      top: 20px;
      z-index: 999;
    }

    @media (max-width: 560px) {
      max-width: calc(100vw - 40px);
    }
  }

  .chat{

    &__header{

      &__link{
        display: none;
      }
    }
  }
}