@use '../abstracts/variables.scss' as *;

.hero{
  background-image: url("../svg/background_right_action_footer.svg");
  background-position: calc(50% + 458px) bottom;
  background-repeat: no-repeat;
  background-size: 295px 124px;

  @media (max-width: 1440px) {
    background-position: calc(100% - 120px) bottom;
  }

  @media (max-width: 1023px) {
    background-position: calc(100% - 50px) bottom;
  }

  @media (max-width: 659px) {
    background-size: 186px 62px;
  }

  &__inner{
    padding: 80px 0 129px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 659px) {
      padding: 20px 0 99px;
    }

    .btn__showAll{
      align-self: flex-start;
    }
  }

  &__title{
    color: $text_primary;
    text-align: center;
    margin-bottom: 12px;

    @media (max-width: 659px) {
      max-width: 400px;
    }
  }

  &__subtitle{
    color: $text_primary;
    font-family: $font_montserrat;
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;

    @media (max-width: 414px) {
      font-size: 20px;
      line-height: 32px;
    }
  }

  &__slider{
    position: relative;
    width: 100%;
    margin: 40px 0;

    @media (max-width: 1260px) {
      width: calc(100% - 48px);
      margin: 40px auto;
    }

    @media (max-width: 659px) {
      margin: 10px auto;
    }

    &__prev{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      transform: translateY(-50%);
      left: -24px;
      width: 36px;
      height: 36px;
      border-radius: 500px;
      border: 1px solid $primary_main;
      transition: $transition_duration;
      cursor: pointer;
      z-index: 3;

      @media (max-width: 659px) {
        width: 28px;
        height: 28px;
      }

      svg{
        fill: $primary_main;
      }

      &:hover{
        background-color: $primary_main;

        svg{
          fill: $white;
        }
      }
    }

    &__next{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      transform: translateY(-50%);
      right: -24px;
      width: 36px;
      height: 36px;
      border-radius: 500px;
      border: 1px solid $primary_main;
      transition: $transition_duration;
      cursor: pointer;
      z-index: 3;

      @media (max-width: 659px) {
        width: 28px;
        height: 28px;
      }

      svg{
        fill: $primary_main;
      }

      &:hover{
        background-color: $primary_main;

        svg{
          fill: $white;
        }
      }
    }

    &:before{
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      display: block;
      width: 32px;
      height: 100%;
      background: linear-gradient(to right, $main_light_secondary 0%, $main_light_secondary 50%, rgba(241, 237, 222, 0) 100%);
      z-index: 2;

      @media (max-width: 659px) {
        width: 24px;
        left: -2px;
      }
    }

    &:after{
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      display: block;
      width: 32px;
      height: 100%;
      background: linear-gradient(to left, $main_light_secondary 0%, $main_light_secondary 50%, rgba(241, 237, 222, 0) 100%);
      z-index: 2;

      @media (max-width: 659px) {
        width: 24px;
        right: -2px;
      }
    }
  }

  &__category{
    width: 144px;
    margin: 0 12px;
    padding: 22px 8px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    border: 2px solid $lighter_darker_primary;
    background: $lighter_darker_primary;
    cursor: pointer;
    transition: .2s;

    &:hover{
      border: 2px solid $primary_main;
    }

    img{
      width: 100px;
      margin: 0 auto 16px;
      aspect-ratio: 1/1;
      object-fit: cover;
    }

    &__title{
      color: $text_primary;
      text-align: center;
    }

  }
}
