// Fonts
$font_montserrat: 'Montserrat', sans-serif !default;
$font_publicsans: 'PublicSans', sans-serif !default;
$font_roboto: 'Roboto', sans-serif !default;

// Colors
$white: #FFFFFF !default;
$black: #272727 !default;
$main_light_secondary: #F1EDDE !default;
$main_light_secondary_op70: #F1EDDEB3 !default;
$text_primary: #212B36 !default;
$primary_main: #147575 !default;
$primary_op48: #0D47A17A !default;
$grey_500: #919EAB !default;
$lighter_darker_primary: #E3E5D7 !default;
$primary_green: #12BF67 !default;
$info_dark: #006C9C !default;
$info_main: #00B8D9 !default;
$warning_dark: #B76E00 !default;
$bg_hovered: #454F5B !default;
$text_secondary: #637381 !default;
$error_main: #D32F2F !default;
$error_light: #FF6659 !default;
$text_disabled: #919EAB !default;
$grey-100: #F9FAFB !default;
$background-neutral: #F4F6F8 !default;
$global_default_bg: #DFE3E8 !default;
$black_100: #1C1C1C !default;
$dark_light_info: #006C9C !default;
$primary_dark: #116262 !default;
$success_dark: #118D57 !default;
$dark_light_error: #B71C1C !default;
$ln: #007EBB !default;

// Optional
$header_height: 100px !default;
$transition_duration: .3s;
